<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ingreso al sistema | Facultad de Ciencias de la Comuncación, Turismo y Psicología</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="css/css-login.css">
  </head>
  <body>
    <div class="hero is-fullheight bg-login">
        <div class="hero-body">
          <div class="container has-text-centered">
            <div class="column is-offset-1 is-4-widescreen is-5-desktop  is-6-tablet is-offset-0-mobile is-12-mobile">
                <div class="box py-6 px-6">
                    <div class="logo pb-4 pt-2">
                        <img src="images/logo-usmp.svg" width="70%">
                    </div>           
                    <form>
                        <div class="field">
                          <div class="control">
                            <input class="input is-medium input-login is-size-6" type="text" placeholder="Usuario">
                          </div>
                        </div>
                        <div class="field">
                          <div class="control">
                            <input class="input is-medium input-login is-size-6" type="password" placeholder="Contraseña">
                          </div>
                        </div>
                        <div class="botones">
                            <button class="button is-block is-fullwidth is-medium btn-ingresa is-uppercase"><div class="txt-ingresa is-size-6 is-size-7-mobile">Acceder al sistema</div></button>
                            <hr class="m-3">
                            <button class="button is-block is-fullwidth is-medium btn-recupera is-uppercase"><div class="txt-recupera is-size-6 is-size-7-mobile">olvidé mi contraseña</div></button>
                        </div>
                    </form>
                      <div class="logo p-5 pt-6 is-hidden-mobile"></div>
                </div>
            </div>
          </div>
        </div>
      </div>

  </body>
</html>